<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <div class="imag"></div>
            <h2>Spectrum</h2>
        </div>
        <div class="button">
            <a href="/login"><button class="login">Login</button></a>
            <a href="/registration"><button class="register">Sign Up</button></a>
        </div>
    </div>
    <div class="body">
        <div class="content">
            <p>Welcome to <span>Spectrum</span></p><br>
            <p>The best club to <span>participate, learn and grow...</span></p>
        </div>
        <div class="image">
            
        </div>
    </div>
</body>
</html>